<!-- Load the Polymer.Element base class -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="custom-select">
  <!-- Defines the element's style and local DOM -->
  <template>
    
    <style>
      :host {
        display: block;
        color: blue;
      }
    </style>
    

    <div>
      <select>
        <template is="dom-repeat" id="items" items="[[items]]">
          <option value="{{item.value}}">{{item.name}}</option>
        </template>
      </select>
    </div>
  </template>
  <script>
    
    class CustomSelect extends Polymer.Element {
      static get is() { return 'custom-select'; }
      
      static get properties() {
        return {
          items: {
            type: Array
          }
        }
      }

      constructor() {
        super();
      }  
    }
    

    customElements.define(CustomSelect.is, CustomSelect);
  </script>
</dom-module>
